@font-face{
	font-family: PTSans;
	src: url(../fonts/ptsans.woff);
}
@font-face{
	font-family: PTSansBold;
	src: url(../fonts/ptsansbold.woff);
}

main {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: PTSans, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-transform: uppercase;
    position: relative;

}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 564px;
    position: relative;
    background: url(../images/sedona_bg.jpg) no-repeat 0 -25px;

}

.main-header__title {
    font-family: "Tw Cen MT";
    color: #fff;
    font-size: 124px;
    margin-top: 190px;
}

.reasons h2, .reasons b {
    font-family: PTSansBold, sans-serif;
    font-size: 21px;
}

.reasons p {
    font-size: 14px;
}

.main-header::after {
    content:"";
    width: 1200px;
    height: 57px;    
    background: url(../images/shape.png);
    position: absolute;
    bottom: 0px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -69px;
	z-index: 1;
}

.navigation {
    background-color: #fff;
    padding: 0 50px;
    width: 1200px;
    box-sizing: border-box;
}

.navigation__list {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation__list-item:nth-child(2) {
	flex-grow: 0.3;
}

.navigation__list-item:nth-child(4) {
	flex-grow: 0.05;
}


.navigation__list-item a {
	text-decoration: none;
	color: #000;
	font-family: PTSansBold, sans-serif;
	font-size: 14px;
}

.navigation a:hover {
	color: #81b3d2;
}

.navigation a:active {
	color: #000;
	opacity: 0.3;
}

.navigation-link_active, .navigation-link_active:hover {
	color: #766357 !important;
}

.main__header_intro {
    display: flex;
    align-self: center;
    position: relative;
}

.main-header__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 296px;
    height: 352px;
    background: url(../images/sedona_welcome.png) no-repeat;
    top: 130px;
    left: 450px;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 215px;
}

.reasons__reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 256px;
    width: 400px;
    text-align: center;
    padding: 0px 48px;
    box-sizing: border-box;
    position: relative;
}

.reasons__image-town {
    background: url(../images/sedona_photo_1.jpg) no-repeat 400px 0;
    color: #fff;
}

.reasons__reason_colored {
    background-color: #81b3d2;
}

.features {
    display: flex;
    justify-content: center;
    height: 330px;
}


.features__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
    padding: 0 72px;
}

.features__item p {
    margin-bottom: 85px;
}

.reasons__image-bridge {
    display: flex;
    flex-direction: row-reverse;
    background: url(../images/sedona_photo_2.jpg) no-repeat;
    color: #fff;
}

.features__item::before {
    content: "";
    display: block;
    position: absolute;
    width: 79px;
    height: 76px;
    top: 60px;
    left: 160px;
    background: url(../images/sprite.png);
}

.features__item:nth-child(1)::before {
    background-position: 0 -90px;
}

.features__item:nth-child(2)::before {
    background-position: 0 0;
}

.features__item:nth-child(3)::before {
    background-position: 79px -5px;
}

.reasons__bottom-row {
    display: flex;
    flex-direction: row;
}

.reasons__title {
    margin-top: 45px;
    margin-bottom: 55px;
}

.reasons__reason-1::after {
    content: "- №1 -";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    left: 180px;
    top: 125px;
    font-family: PTSans, sans-serif;
}
.reasons__reason-2::after {
    content: "- №2 -";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    left: 180px;
    top: 125px;
    font-family: PTSans, sans-serif;
}
.reasons__reason-3::after {
    content: "- №3 -";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    left: 180px;
    top: 125px;
    font-family: PTSans, sans-serif;
}
.reasons__reason-4::after {
    content: "- №4 -";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    left: 180px;
    top: 125px;
    font-family: PTSans, sans-serif;
}
.reasons__reason-5::after {
    content: "- №5 -";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    left: 180px;
    top: 125px;
    font-family: PTSans, sans-serif;
}

/*---------------ФОРМА--------------*/

.hotel-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 290px;
    text-align: center;
    z-index: 100;
    box-sizing: border-box;
    background-color: #fff;
}

.hotel-search p {
    color: #333333;
}

.hotel-search b {
    margin-top: 57px;
    font-size: 30px;
    font-family: PTSansBold, sans-serif;
    background-color: #fff;
}

.hotel-search p {
    line-height: 21px;
}

.hotel-search__button {
    position: absolute;
    bottom: 0;
    left: 315px;
    width: 568px;
    display: block;
    padding: 32px 0;
    background-color: #766357;
    text-decoration: none;
    color: #fff; 
    font-family: PTSansBold;
}

.hotel-search__button:hover {
    background-color: #604e43;
}

.hotel-search__button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3 );
}

.hotel-search__form {
    width: 568px;
    height: 395px;
    padding: 55px;
    position: absolute;
    bottom: -25px;
    background-color: #fff;
    bottom: -395px;
    left: 315px;
    font-family: PTSansBold;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}

.hotel-search__form input {
    box-sizing: border-box;
    padding: 12px;
    font-family: PTSansBold, sans-serif;
    font-size: 14px;
}

.hotel-search__form input:hover {
    background-color: #ebebeb;
}

.hotel-search__form input:focus {
    background-color: #fff;
}

.form-in, .form-out {
    background: none;
    border: none;
    width: 345px;
    height: 38px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-right: 40px !important;
}

.form-out {
    margin-left: 16px;
}

/* КАЛЕНДАРЬ */
.hotel-search__form label {
    position: relative;
}

.calendar {
    width: 21px;
    height: 22px;
    position: absolute;
    background: url(../images/calendar.png) no-repeat -10px -10px;
    left: 423px;
    top: -2px;
    cursor: pointer;
}

.calendar:hover {
    background-position: -51px -10px;
}

.calendar:active {
    background-position: -92px -10px;
    
}
/* --------------------------- */

.persons {
    background: none;
    background-color: #f2f2f2;
    border: none;
    width: 110px;
    height: 38px;
    text-align: center;
}

.form-adults {
    margin-left: 35px;
}

/* УПРАВЛЕНИЕ КОЛИЧЕСТВОМ ТУРИСТОВ */

.relative-label {
    position: relative;
}

.persons-count {
    color: #a9a9a9;
}

.persons-count {
    width: 12px;
    height: 12px;
    top: 4px;
    left: 125px;
    position: absolute;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

.persons-count:active {
    color: 81b3d2;
}

.increase {
    left: 195px;
}

label.floated-right .decrease {
    left: 75px;
}

label.floated-right .increase {
    left: 145px;
}

.persons-count:hover {
    color: #000;
}

.persons-count:active {
    color: #81b3d2;
}

/* ------------------------------------- */


.form-childs {
    margin-right: 4px;
    margin-left: 25px;
}

.search-hotel{
    width: 100%;
    height: 58px;
    background-color: #81b3d2;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 54px;
}

.search-hotel:hover {
    background-color: #669ec0;
}

.search-hotel:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/*------------------------------*/

.map {
    height: 592px;
    background: #cacaca url(../images/map.jpg) no-repeat;
}

.footer-main {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
}

.footer-main__social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main__social-buttons-list {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 0;  

}

.footer-main__social-buttons-list .footer-main__social-button {
    margin-left: 5px;
    position: relative;
    background-color: #81b3d2;
}

.footer-main__social-button:first-child {
    margin-left: 0;
}

.footer-main__social-buttons-list a {
    display: block;
    width: 46px;
    height: 48px;
}

.footer-main__social-buttons img {
    position: absolute;
}

.footer-main__social-button_twitter img {
    top: 16px;
    left: 16px;
}

.footer-main__social-button_facebook img, .footer-main__social-button_youtube img {
    top: 12px;
    left: 12px;
}

.footer-main__social-button_twitter:hover {
    background-color: #669ec0;
}

.footer-main__social-button_facebook:hover {
    background-color: #669ec0;
}

.footer-main__social-button_youtube:hover {
    background-color: #669ec0;
}

.footer-main__social-button_twitter:active {
    background-color: #5496bd;
}

.footer-main__social-button_facebook:active {
    background-color: #5496bd;
}

.footer-main__social-button_youtube:active {
    background-color: #5496bd;
}

.footer-main__social-button:active img {
    opacity: 0.5;
}


.footer-main__hashtag, .footer-main__social-buttons, .copyright {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    height: 100%;
}

.footer-main__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    position: relative;
    text-align: left;
    padding-left: 80px;
    line-height: 5;
}

.copyright-logo {
    display: block;
    width: 115px;
    height: 41px;
    background-image: url(../images/copyright_sprite.png);
    background-repeat: no-repeat;
    background-position: -10px -10px;
    position: absolute;
    top: 40px;
    left: 170px;
}

.copyright-logo:hover {
    background-position: -145px -10px;
}

.copyright-logo:active {
    background-position: -10px -71px;
}
